fastapi==0.115.6
langdetect==1.0.9
nltk==3.8.1
openai==0.28.0
pandas==2.2.3
psycopg2_binary==2.9.9
pygwalker==0.4.9.13
PyMySQL==1.1.1
PyYAML==6.0.2
Requests==2.32.3
rouge==1.0.1
SQLAlchemy==1.4.51
sqlparse==0.5.3
streamlit==1.40.1
streamlit_authenticator==0.4.1
streamlit_extras==0.5.0
tabulate==0.9.0
uvicorn==0.34.0
